= subscribe_to "/chats/new"

:javascript

  / var currentUserId = "#{current_user.id}";
  / var pusher = new Pusher("e77c8d27f667516177f3", { encrypted: true })
  / privateUserChannel = pusher.subscribe("private-user-channel-" + currentUserId);

  / privateUserChannel.bind('send-user-message', function(data) {
  /   if (data.from == data.to) { // username does not exist
  /     $("#chatbox_" + data.to).children(".chatboxcontent").append("<div class='chatboxmessage'><span class='chatboxmessagefrom'>" + data.from + ": </span><span class='chatboxmessagecontent_error'>" + data.message + "</span></div>");
  /   } else {
  /     $("#chatbox_" + data.to).children(".chatboxcontent").append("<div class='chatboxmessage'><span class='chatboxmessagefrom'>" + data.from + ' <em>whispered to ' + data.to + " </em>: </span><span class='chatboxmessagecontent_whisper'>" + data.message + "</span></div>");
  /   }
  /   console.log("whisper message for : " + data.message);
  / });


  / var teamId = "#{current_user.team.nil? ? false : current_user.team.id }"
  / if (teamId) {
  /   privateTeamChannel = pusher.subscribe("private-team-channel-" + teamId);
  /   privateTeamChannel.bind('send-team-message', function(data) {
  /     $("#chatbox_team").children(".chatboxcontent").append("<div class='chatboxmessage'><span class='chatboxmessagefrom'>" + data.from + '<em>' + data.to + " </em>: </span><span class='chatboxmessagecontent_whisper'>" + data.message + "</span></div>");
  /     console.log("team message for : " + data.message);
  /   });
  / }


  chatWith("#{current_user.username.downcase}");
  chatWith("team");
