<% if whisper_user %>
<script type="text/javascript">
    var currentUserId = "<%= whisper_user.id %>";
    var pusher = new Pusher("e77c8d27f667516177f3");

    privateUserChannel = pusher.subscribe("private-user-channel-" + currentUserId);

    privateUserChannel.bind('send-user-message', function(data) {
      $("#chatbox_" + data.to).children(".chatboxcontent").append("<div class='chatboxmessage'><span class='chatboxmessagefrom'>" + data.from + ": </span><span class='chatboxmessagecontent'>" + data.message + "</span></div>");
      console.log("An event was triggered with message: " + data.message);
    });
</script>
<% end %>