<!DOCTYPE html>
<html>
<head>
  <title>Whisper</title>
  <%= stylesheet_link_tag    "whisper/application", :media => "all" %>
  <%= javascript_include_tag "whisper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
